<ul>
<% @pic.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>

<%= form_for @pic do |f| %>
  <div>
    <%= f.label :url %>
    <%= f.text_field :url, :placeholder => "Enter the picture's source" %>
  </div>
  <div>
    <%= f.label :caption %>
    <%= f.text_field :caption, :placeholder => "Enter a caption" %>
  </div>
  <%= f.submit %>
<% end %>
