<h1>Edit Picture # <%= @pic.id %></h1>

<%= link_to "Cancel", single_picture_url(@pic.id) %>

<%= form_tag update_picture_url(@pic.id) do %>
  <%= text_field_tag :url, @pic.url, :size => 120 %>
  <%= submit_tag  %>
<% end %>
