<h1>REACTION GIFS</h1>

<a href="<%= new_picture_form_url %>">Add A New Picture</a>

<ul>
  <% @pictures.each do |pic| %>
    <li>
      <a href="<%= single_picture_url(pic.id) %>"><img width="240" src="<%= pic.url %>" ></a>
      <a href="<%= edit_picture_form_url(pic.id) %>">Edit</a>
      <a href="<%= delete_picture_url(pic.id) %>">Delete</a>

    </li>
  <% end %>
</ul>
