<h1>Showing Picture #<%= @user_request %></h1>

<nav>
<%= link_to "Back", pictures_url %>
|
<%= link_to "Edit", edit_picture_url(@pic.id) %>
</nav>

<%= image_tag @pic.url, :width => 480 %>

<p><%= @pic.caption %></p>
